:root {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--light);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --cols: 12;

  --dark: #21130b;
  --darkTransparent: #0e0d12aa;
  --grey: #c0c0c0;
  --light: #f2f2f2;
  --lightTransparent: #f2f2f266;
  --darkBlue: #1f2d4d;
  --blue: #0270b5;
  --greyBlue: #2b3b4d;
  --orange: #edc464;
  --green: #526f24;
  --red: #ce2028;
  --lightBlue: #baf3fc;

  /*new launcher colors*/
  --mainbg: #106377;
  --newsbg: #0b1623;
  --dlfill: #17afcb;
  --dlbg: #17afcb88;
  --border: #b7e9ff;
  --gradientstart: #15aac9;
  --gradientend: #067db9;
}

html {
  cursor: url(assets/point.png), auto !important;
}

html,
body,
.app {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20vw 0px;
  position: relative;
  background-image: url("assets/back.png");

  display: flex;
  flex-direction: column;
}

.focus {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  -webkit-mask: radial-gradient(circle, #0000 100px, rgba(0, 0, 0, 0.9) 500px);
  backdrop-filter: blur(5px);
}

header,
main,
footer {
  position: relative;
  z-index: 1;
}

header {
  z-index: 2;
}
main {
  height: 100%;
}

.main-content {
  height: 100%;
}

* {
  cursor: url(assets/point.png), auto !important;
}

button,
input {
  cursor: url(assets/point.png), auto !important;
}

/* MENU TITLE BAR */

.text-right {
  text-align: right;
}

.download-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  font-family: "Playfair Display", serif;
  align-items: baseline;
  margin-bottom: 10px;
  width: 70%;
}

.download-text .percent {
  font-size: 20px;
  font: normal normal normal 45px/69px Merriweather;
  color: var(--dlfill);
}

/*new launcher styles*/

.swal2-styled.swal2-confirm {
  background-color: #c98b1b;
}

.swal2-html-container {
  color: #eaeaea;
}

.content-left {
  background-color: var(--dlbg);
  font-size: 30px;
  border-radius: 0px 0px 2px 0px;
}

.content-right {
  font-size: 30px;
}

.header-container {
  width: 100%;
  z-index: 99;
}

.header-container > div {
  padding: 10px;
}

.titlebar-button {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--border);
  }
}

.background {
  position: absolute;
  z-index: 0;
  width: 55vw;
  height: 100%;
  top: 0;
  left: -5vw;
}

.background-inner {
  --skew: -10deg;
  margin-left: -50px;
  position: relative;
  isolation: isolate;
  background-color: var(--newsbg);
  transform: skewX(var(--skew));
  width: 100%;
  height: 100%;
}
.content {
  padding: 0;
  padding-top: 20px;
  padding-left: 60px;
  color: white;
}

.background-inner:after {
  top: 0;
  position: absolute;
  content: "";
  width: calc(100% + 50px);
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.33;
  background-color: var(--newsbg);
  z-index: -2;
}

.background-inner:before {
  top: 0;
  opacity: 0.33;
  position: absolute;
  content: "";
  width: calc(100% + 100px);
  height: 100%;
  left: 0;
  background-color: var(--newsbg);
  z-index: -3;
}

img {
  max-width: 100%;
}

.content-right .titlebar-button {
  color: var(--newsbg);
  font-weight: bold;
}

.download-container {
  background-color: transparent;
  padding: 10px 60px 60px 60px;
  display: flex;
  flex-direction: column;
}

.download-prog {
  width: 100%;
}

.download {
  position: relative;
  width: 100%;
  height: 30px;
  overflow: hidden;
  background: var(--dlbg) 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

.download-progress {
  position: relative;
  width: 100%;
  height: 30px;
  overflow: hidden;
  background: var(--dlfill) 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

#play-button {
  /* UI Properties */
  background: transparent
    linear-gradient(121deg, var(--dlfill) 0%, var(--blue) 100%) 0% 0% no-repeat
    padding-box;
  border: 6px solid var(--border);
  border-radius: 2px;
  opacity: 1;
  min-width: 350px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

#play-button:disabled {
  /* UI Properties */
  background: transparent linear-gradient(121deg, #adc5c9 0%, #93a0aa 100%) 0%
    0% no-repeat padding-box;
  border: 6px solid #e7f3f8;
  opacity: 0.7;
}

#play-button:before {
  position: absolute;
  content: "";
  background: transparent
    linear-gradient(194deg, var(--dlfill) 0%, var(--blue) 100%) 0% 0% no-repeat
    padding-box;
  inset: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#play-button:not(:disabled):hover:before {
  opacity: 1;
  z-index: 0;
}
#play-button .status-text {
  position: relative;
  z-index: 1;
  font: normal normal bold 60px/101px Merriweather;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 10px;
}

.info-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.autoplay {
  padding: 15px 0;
  font: normal normal normal 17px/21px Lexend;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: 300;
}

.content h3,
#newslist li a {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
  justify-content: space-between;
  align-items: center;
  font: normal normal normal 16px/33px Lexend;
  transition: all 0.2s ease-in-out;
}
#newslist li:not(:last-child) {
  border-bottom: 1px solid var(--light);
}

#newslist li a:hover {
  background-color: var(--darkTransparent);
  /* text-decoration: underline; */
}

#newslist li a .news_title {
  text-align: left;
  flex: 1;
}

#newslist li a .news_title .news_category {
  padding: 5px 10px;
  margin-right: 15px;
  text-decoration: none;
  font: normal normal bold 16px/33px Merriweather;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
#newslist li a:hover .news_category {
  text-decoration: none;
}

#newslist li a .news_title .Announcement {
  background-color: var(--green);
  color: var(--light);
}

#newslist li a .news_title .Maintenance {
  background-color: var(--red);
  color: var(--light);
}

#newslist li a .news_title .DevBlog {
  background-color: var(--blue);
  color: var(--light);
}

.download-text {
  text-align: left;
  font: normal normal normal 30px/44px Merriweather;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 25px;
}

@media screen and (min-width: 1770px) and (min-height: 870px) {
  .content h3,
  #newslist li a {
    padding: 20px 0px;
    font: normal normal normal 26px/33px Lexend;
  }

  #newslist li a .news_title .news_category {
    font: normal normal bold 26px/33px Merriweather;
  }

  #play-button {
    min-width: 450px;
  }

  #play-button .status-text {
    font: normal normal bold 80px/101px Merriweather;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 20px;
  }

  .download-text {
    font: normal normal normal 35px/44px Merriweather;
  }

  .download-text .percent {
    font: normal normal normal 55px/69px Merriweather;
  }
}

/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
}
#foglayer_02,
#foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
    center center/cover no-repeat transparent;
}
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
    center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}

/* Make buttons and interactive elements not draggable */
button,
input,
[data-tauri-drag-region] > * {
  -webkit-app-region: no-drag;
}

.download-speed {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
