:root {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --cols: 12;
  --gutter: 24px;

  --dark: #21130b;
  --darkTransparent: #0e0d12AA;
  --grey: #c0c0c0;
  --light: #f2f2f2;
  --lightTransparent: #f2f2f266;
  --darkBlue: #1f2d4d;
  --blue: #436193;
  --greyBlue: #2b3b4d;
  --orange: #edc464;
  --green: #526f24;
  --red: #ce2028;
  --lightBlue: #baf3fc;
}

html {
  cursor: url(assets/point.png), auto !important;
}

html,
body,
.app {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  background-image: url("assets/back.png");
  display: flex;
  flex-direction: column;
}

.focus {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  -webkit-mask: radial-gradient(circle, #0000 100px, rgba(0, 0, 0, 0.9) 500px);
  backdrop-filter: blur(5px);
}

header,
main,
footer {
  position: relative;
  z-index: 1;
}

header {
  background-color: var(--dark);
}

main {
  height: 100%;
}

.main-content {
  align-items: center;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightTransparent);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}


.row {
  display: flex;
}

* {
  cursor: url(assets/point.png), auto !important;
}

button,
input {
  cursor: url(assets/point.png), auto !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--light);
    background-color: transparent;
  }

  a:hover {
    color: #24c8db;
  }

}


/* MENU TITLE BAR */
.titlebar {
  padding: 1rem;
  user-select: none;
  position: relative;
  z-index: 1;
  display: flex;
}

.titlebar img {
  width: 75px;
  pointer-events: none;
}


#animation-toggle {
  position: absolute;
  top: 60px;
  background: var(--dark);
  color: white;
  right: 0;
  z-index: 1;
  padding: 5px;
  font-size: 1.5rem;
}

.container {
  padding: var(--gutter);
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;
}

.container .top {
  padding-top: var(--gutter);
}

.container .content {
  flex: 1;
  padding-top: var(--gutter);
}


.news-list {
  height: 100%;
  max-height: 100%;
  background-color: var(--darkTransparent);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-wrapper {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-footer {
  height: 30px;
  flex-shrink: 0;
  line-height: 30px;
  padding: 0 8px
}

.page-footer {
  height: 78px;
  position: relative;
  background-image: url("assets/bottom.png");
}

.page-content {
  background-image: url("assets/top.png");
  flex-grow: 1;
  display: flex;
}

.right-column {
  width: 60%;
  flex-grow: 1;
  padding: 40px 30px 30px 0px;
}

.left-column {
  width: 40%;
  padding: 40px 0px 30px 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}


.text-center {
  text-align: center;
}

.text-logo {
  margin-top: 2rem;
  margin-left: 1rem;
}



.titlebar-button {
  position: absolute;
  top: 1rem;
  right: 1rem;

  &:hover {
    background-color: var(--darkTransparent);
  }
}

.button--min {
  right: 3rem;
}

.button--folder {
  right: 5rem;
}

.title {
  font-size: 20px;
  padding: 10px;
  background-image: url("assets/title-background.png");
  background-size: 100%;
  background-position: -8px center;
  background-repeat: no-repeat;
}


.button {
  width: 103px;
  background-image: url("assets/button1.png");
  height: 25px;
  text-align: center;
  position: absolute;
  top: 36px;
  left: 15px;
  border: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
}

.download-container {
  padding: 20px 0;
  background-color: var(--dark);
}

.download-prog {
  align-self: center;
}

.download-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  font-family: 'Playfair Display', serif;
  align-items: baseline;
  margin-bottom: 10px;
}

.download-text .percent {
  font-size: 20px;
}

/* .download-text .file {
  
}

.download-text .speed {
  
} */

.button--big {
  outline: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  width: 100%;
}

.button--big:after {
  z-index: 0;
  content: "";
  position: absolute;
  width: 90%;
  height: calc(100% - 10px);
  top: 5px;
  transform: translateX(-50%);
  left: 50%;
  box-shadow: 0 0 0 #ff2400AA;
  transition: all 0.2s ease-in-out;
}

.button--big:disabled {
  filter: grayscale(1);
}

.button--big:hover::after {
  box-shadow: 0 0 25px #ff2400AA;
}

.button--big:active::after {
  box-shadow: 0 0 50px #ff2400AA;
}

.button--big span {
  font-size: 20px;
  color: var(--light);
  font-weight: 700;
  line-height: 77px;
  text-transform: uppercase;
  display: block;
  background-position: center;
  border-radius: 4px;
  background-image: url("assets/main-button.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in-out;

}


.button--big span:hover {
  text-shadow: 0px 0px 25px var(--lightTransparent);
}

.button--big span:active {
  background-color: transparent;
}
.button--big::first-letter {
  font-size: 30px;
}

.button {
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'constantineregular' !important;
  background-color: transparent;
}

.options {
  background: rgb(14, 13, 18);
  background: linear-gradient(0deg, rgba(14, 13, 18, 0.5) 31%, rgba(14, 13, 18, 0.75) 100%);
  padding: 20px 0;
}

.options a {
  color: var(--light);
  text-decoration: none;
  opacity: 0.8;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.options a:hover, .options a:active {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.options iconify-icon {
  margin-right: 10px;
  vertical-align: bottom;
}

.button::first-letter {
  font-size: 20px;
}

.button:hover {
  background-image: url("assets/button2.png");
}

.button:active {
  background-image: url("assets/button3.png");
}


.button-2 {
  left: 131px;
}

.button-3 {
  left: 247px;
}

.download {
  position: relative;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background: linear-gradient(0deg, rgb(46 25 16) 24%, rgb(72 39 26) 96%);
  clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0 50%);
}

.download-progress {
  position: relative;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background: rgb(245, 161, 0);
  background: linear-gradient(0deg, rgba(245, 161, 0, 1) 24%, rgba(195, 69, 1, 1) 96%);
  clip-path: polygon(8px 0, calc(100% - 8px) 0, 100% 50%, calc(100% - 8px) 100%, 8px 100%, 0 50%);
}

.content h3,
#newslist li a {
  font-family: 'Lato', sans-serif;
  color: var(--light);
  text-decoration: none;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.content h3 {
  font-size: 20px;
}
#newslist li a:hover {
  text-decoration: underline;
}

#newslist li a .news_title {
  text-align: left;
  flex: 1;
}

#newslist li a .news_title .news_category {
  padding: 5px;
  text-decoration: none;
}
#newslist li a:hover .news_category {
  text-decoration: none;
}


#newslist li a .news_title .Announcement {
  background-color: var(--green);
  color: var(--light);
}

#newslist li a .news_title .Maintenance {
  background-color: var(--red);
  color: var(--light);
}

#newslist li a .news_title .DevBlog {
  background-color: var(--blue);
  color: var(--light);
}



#newslist li a .news_date {
  flex: 0;
  font-weight: 300;
  opacity: 0.8;
}

#play-button {
  font-family: 'constantinebold' !important;
}